POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=hackspain
DATABASE_URL=postgresql+psycopg://postgres:postgres@postgres-hackspain:5432/hackspain
SECRET_KEY=change-me-in-production
DEBUG=true
